.headingsMidsize{ 
    display: block;
    font-weight: bold;
    color: Black;
}

.headingsSmall{ 
    display: block;
    font-weight: bold;
    color: Gray;
    
}   
    
.headingsLarge{ 
    display: block;
    font-weight: bold;
    color: Black;
    border-top: solid #e7ce00 medium;
	border-bottom: dotted #e7ce00 thin;
}

.image{ 
   height: 100px;
    width: 500px;
}
